table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 0.3em;
    border: solid 1px black;
}

.form-control.is-invalid {
    border : solid 1px red;
}

.text-danger {
    color: red;
}

.alert-success {
    background-color: lightgreen;
    padding: 0.5%;
    border: solid 1px green;
    font-weight: bold;
}